.auto-style6 {
    margin-left: 529px;
    margin-top: 199px;
}

.auto-style8 {
    margin-left: 149px;
    margin-top: 40px;
    width: 144px;
}

.auto-style9 {
    margin-left: 23px;
    margin-top: 20px;
}

.auto-style10 {
    margin-left: 44px;
}

.auto-style11 {
    height: 27px;
    margin-left: 22px;
    margin-top: 20px;
}

.auto-style12 {
    margin-left: 32px;
}

.auto-style13 {
    margin-left: 202px;
    margin-top: 12px;
}

.auto-style14 {
    width: 115px;
    margin-left: 141px;
    margin-top: 14px;
}

.auto-style15 {
    width: 288px;
    margin-left: 52px;
    margin-top: 38px;
}

.auto-style16 {
    margin-left: 12px;
}
