

.label {

    text-align: center;
}
.textbox {
    width: 100%;
    font-size: 20px;
    padding: 8px 0;
    margin-left: 10px;
   
}
.auto-style1 {
    margin-left: 449px;
    margin-top: 107px;
}

.auto-style2 {
    margin-left: 43px;
}

.auto-style3 {
    margin-left: 50px;
}

.auto-style4 {
    margin-left: 13px;
}

.auto-style5 {
    margin-left: 17px;
    margin-top: 27px;
}

.auto-style6 {
    margin-left: 172px;
    margin-top: 13px;
}

.auto-style7 {
    margin-left: 33px;
}
.auto-style8 {
    margin-left: 35px;
}
.auto-style9 {
    margin-left: 60px;
}

.auto-style10 {
    margin-left: 69px;
}

.auto-style11 {
    margin-left: 32px;
}

.auto-style12 {
    margin-left: 33px;
    margin-top: 27px;
}

.auto-style13 {
    margin-left: 21px;
}

.auto-style14 {
    margin-left: 62px;
}

.auto-style15 {
    margin-left: 17px;
    margin-top: 13px;
}

.auto-style16 {
    margin-left: 10px;
}

.auto-style17 {
    margin-left: 65px;
}

.auto-style18 {
    margin-left: 17px;
}

.auto-style19 {
    margin-left: 185px;
    margin-top: 5px;
}

.auto-style20 {
    margin-left: 449px;
    margin-top: 66px;
}

.auto-style21 {
    width: 317px;
    margin-left: 79px;
}

  