.label {
    text-align: center;
}

.textbox {
    width: 100%;
    font-size: 20px;
    padding: 8px 0;
    margin-left: 10px;
}

.auto-style1 {
    margin-left: 449px;
    margin-top: 107px;
}

.auto-style2 {
    margin-left: 128px;
}

.auto-style3 {
    margin-left: 107px;
}

.auto-style4 {
    margin-left: 100px;
}

.auto-style5 {
    margin-left: 88px;
}

.auto-style6 {
    margin-left: 14px;
}

.auto-style7 {
    margin-left: 217px;
    margin-top: 25px;
}

.auto-style8 {
    width: 199px;
    margin-left: 199px;
}

.auto-style9 {
    width: 209px;
    margin-left: 201px;
}
.auto-style10 {
    margin-left: 108px;
}

.auto-style11 {
    margin-left: 133px;
}

.auto-style12 {
    width: 367px;
    margin-left: 77px;
    margin-top: 20px;
}


.auto-style14 {
    width: 367px;
    margin-left: 77px;
    margin-top: 10px;
}

.auto-style15 {
    margin-left: 217px;
    margin-top: 24px;
}
